@media(max-width:900px){
    .container{
        width: 100%;
    }
    img{
        max-width: 100%;
        width: 100%;
    }
    .show{
        display: block!important;
    }
    #header .button-mobile{
        display: block;
    }
    #header .header-top{
        padding: 25px 0px;
    }
    #header .header-top .menu{
        display: none;
        float: none;
        margin-top: 14px;
        border-top: 0.1px solid #BABDB6;
    }
    #header .header-top .menu>ul>li{
        display: block;
    margin: 10px 0px;
    }
    #section .text-section{
        width: 100%;
    }
    #section .video-section{
        float: none;
        overflow: hidden;
        margin-top: 35px;
    }
    #section .video-section>iframe{
        width: 100%;
    }
    #services .list-services .item{
        width: 100%;
        margin-right:0px;
        margin-bottom: 30px;
    }
    #services .list-services{
        width: 90%;
        margin: 0px auto;
        padding-top: 30px;
    }
    #services .list-services .item>h2 {
        font-size: 20px;
    }
    #porifolio .title-porifolio .list-porifolio {
        display: none;
    }
    #porifolio .image-porifolio .item{
        display: block;
        margin: 0px;
        margin-bottom: 20px;
    }
    #section .text-section .content>p{
        padding:0px 17px;
    }
    #section .text-section .vist-me{
        margin-left:18px;
    }
    .title-p{
        margin-left: 15px;
        font-size: 25px;
    }
    #twitter p {
        font-size: 19px;
        padding: 0px 16px;
    }
    #john-doe {
        padding: 95px 0px 80px;
    }
    #john-doe .john-left {
        width: 90%;
        margin: 0px auto;
        display: block;
    }
    #john-doe .john-right{
        float: none;
    }
    #john-doe .john-right>p>a{
        margin-bottom: 10px;
    }
    #testimonianls .silder-testimoninals .item{
        margin:0px auto;
    }
    #testimonianls .silder-testimoninals .item p{
        font-size: 20px;
    }
    #contact{
        padding: 57px 0px 100px;
    }
    #contact .forms{
        width: 90%;
        margin: 0px auto;
    }
    #contact .forms .box-control{
        overflow: hidden;
    }
    #contact .forms .box-control .control-input{
        width: 100%;
    }
    #contact .forms .box-control .control-text{
        width: 100%;
    }
    #contact .forms .box-control .control-input>input{
        padding: 20px 0px;
        width: 99%;
    }
    #contact .forms .box-control>textarea{
        padding: 20px 0px;
    }
    #contact .forms .message {
        width: 100%;
    }

}