*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1175px;
    margin: 0px auto;
}
body{
    font-size: 14px;
    font-family: segoeItalic;
    color: #fff;
}
@font-face{
    font-family: segoebold;
    src: url(../fonts/Segoe\ UI\ Bold.ttf);
}
@font-face{
    font-family: segoettf;
    src: url(../fonts/Segoe\ UI.ttf);
}
@font-face{
    font-family: segoeItalic;
    src: url(../fonts/Segoe\ UI\ Italic.ttf);
}
.fix{
    width: 100%;
    position: fixed;
    z-index: 111;
    opacity: 1!important;
}
#header{
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#header .button-mobile{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 33px;
     display: none;
}
#header .header-top{
    background: #39444B;
    overflow: hidden;
    padding: 40px 0px;
    opacity: 0.9;
}
#header .header-top .logo{
   display: inline-table;
}

#header .header-top .menu{
    float: right;
}
#header .header-top .menu>ul>li{
    display: inline-table;
}
#header .header-top .menu>ul>li>a{
    font-family: segoebold;
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    transition: color,border 0.2s ease-out;
}
#header .header-top .menu>ul>li>a:hover{
    color: #4BCAFF;
    border: 2px solid #4BCAFF;
}

#header .text{
    padding: 223px 0px;
    text-align: center;
}
#header .text>p{
    margin-bottom: 10px
}
#header .text>p>span{
    font-family: segoeItalic;
    text-transform: uppercase;
    font-size: 30px;
    background: #48535A;
    padding: 0px 12px;
    opacity: 0.8;
}

#services{
    padding: 60px 0px;
    background: #4BCAFF;
}
.title-p{
    font-size: 30px;
    text-transform: uppercase;
    font-family: segoettf;
    font-weight: 100;
}
.title-p::after{
    content: '';
    border-bottom: 2px solid;
    width: 48px;
    display: block;
}
#services .list-services{
    margin-top: 40px;
}
#services .list-services .item{
    width: 260px;
    display: inline-table;
    margin-right: 30px;
}
#services .list-services .item>h2{
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 10px 0px;
}
#services .list-services .item>p{
    font-size: 12px;
}
#services .list-services .item:last-child{
    margin-right: 0px;
}
#services .list-services .item .icon-1{
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
    display: block;
    width: 39px;
    height: 52px;
}
#services .list-services .item .icon-2{
    background-image: url(../img/icon2.png);
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 52px;
}
#services .list-services .item .icon-3{
    background-image: url(../img/icon3.png);
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 52px;
}
#services .list-services .item .icon-4{
    background-image: url(../img/icon4.png);
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 52px;
}


#porifolio{
    padding: 75px 0px;
}
#porifolio .title-porifolio .title-por{
    color: #515F67;
    display: inline-table;
}
#porifolio .title-porifolio .list-porifolio{
    float: right;
}

#porifolio .title-porifolio .list-porifolio>ul>li{
    display: inline-table;
}
#porifolio .title-porifolio .list-porifolio>ul>li>a{
    font-family: segoebold;
    text-decoration: none;
    color: #515F67;
    padding: 5px 25px;
    transition: color,border 0.2s ease-out;
}
#porifolio .title-porifolio .list-porifolio>ul>li:hover a{
    color: #4BCAFF;
    border: 2px solid #4BCAFF;
}
#porifolio .image-porifolio{
    overflow: hidden;
    margin-top: 50px;
}
#porifolio .image-porifolio .item{
    display: inline-table;
    margin: 9px 22px;
}
#porifolio .image-porifolio .item:nth-child(1n){
    margin-left: 0px;
}

#porifolio .image-porifolio .item:nth-child(4){
    margin-right: 0px;
}
#porifolio .image-porifolio .item:nth-child(8){
    margin-right: 0px;
}




#section{
    background: #515F67;
    overflow: hidden;
    padding: 75px 0px;
}
#section .text-section{
    width: 475px;
   display: inline-table;
}
#section .text-section .content{
    line-height: 20px;
}
#section .text-section .content>p{
    font-weight: 100;
    margin: 40px 0px;
}
#section .text-section .vist-me{
    border: 1px solid #353F46;
    background: transparent;
    padding: 7px 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: #353f46;
    transition: color,border 0.2s ease-out;
}
#section .text-section .vist-me:hover{
    color: #4BCAFF;
    border: 1px solid #4BCAFF;
}
#section .video-section{
    float: right;
}
#section .video-section>iframe{
    float: right;
    width: 560px;
    height: 315px;
}


#twitter{
    background: #4BCAFF;
    padding: 77px 0px;
}
#twitter p{
    font-size: 28px;
    margin-top: 40px;
}

#john-doe{
    background-image: url('../img/blueasy-freebie.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 95px 0px 155px;
    background-position: bottom;
}

#john-doe .john-left{
    width: 50%;
    display: inline-table;
    line-height: 22px;
}
#john-doe .john-left>p{
    margin: 30px 0px;
}
#john-doe .john-right{
    width: 45%;
    float: right;
}
#john-doe .john-right>p>a{
    border: 1px solid #fff;
    color: #fff;
    display: inline-table;
    width: 58px;
    text-align: center;
    padding: 10px 0px;
    font-size: 23px;
    margin-right: 15px;

}
#john-doe .john-right>p>a:hover{
    color: #4BCAFF;
    border: 1px solid #4BCAFF;
    transition: color,border 0.2s ease-out;
}


#testimonianls{
    padding: 80px 0px;
}
#testimonianls .title-testimonianls{
    color: #515F67;
}
#testimonianls .silder-testimoninals{
    margin-top: 45px;
    line-height: 45px;
}
#testimonianls .silder-testimoninals .item{
    width: 80%;
}
#testimonianls .silder-testimoninals .item p{
    color: #515F67;
    font-size: 28px;
    margin-bottom: 60px;
}
#testimonianls .silder-testimoninals .item a{
    color: #4BCAFF;
    text-decoration: none;
    font-size: 14px;
}
#testimonianls .silder-testimoninals .item .icon-5{
    background-image: url(../img/icon5.png);
    background-repeat: no-repeat;
    display: block;
    width: 39px;
    float:right;
    height: 52px;
}


#contact{
    background-image: url('../img/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 95px 0px 155px;
    background-position: bottom;
}

#contact .forms .box-control{
    margin: 40px 0px;
}
#contact .forms .box-control .control-input{
    width: 470px;
    display: inline-table;
}
#contact .forms .box-control label{
    text-transform: uppercase;
}
#contact .forms .box-control .control-input>input{
    width: 100%;
    padding: 20px 5px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
#contact .forms .box-control .control-text{
    width: 570px;
    float: right;
    margin-top: 10px;
}
#contact .forms .box-control>textarea{
    display: block;
    width: 100%;
    max-width: 99%;
    padding: 20px 5px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    max-height: 200px;
    height: 200px;
}
#contact .forms .message{
    background: #4BCAFF;
    border: 0px;
    color: #fff;
    width: 370px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 800;
}


#footer{
    background: #353F47;
    padding:75px 0px;
}
#footer .list-footer{
    display: inline-table;
}
#footer .list-footer>ul>li{
    display: inline-table;
}
#footer .list-footer>ul>li>a{
    text-decoration: none;
    color: #515F67;
    font-size: 12px;
    text-transform: uppercase;
}
#footer .list-footer>ul>li>a::after{
    content: '|';
    height: 10px;
    margin: 0px 5px;
}
#footer .list-footer>ul>li:last-child>a::after{
    content: '';
}
#footer .year{
    float: right;
    color: #515F67;
    font-size: 12px;
}