<div id="footer">
        <%
        for (let x in user){
            if(user[x].admin){
        %>
            <h2 class="admin"><b>Xin chao Admin: <%=user[x].name;%></b></h2>
        <%
        } else{
        %>
        <h2><b>Xin chao Ban: <%=user[x].name;%></b></h2>
         <%
        }}
         %>
    </div>
</body>
</html>