<%- include('header.ejs') %> 
<% 
 var h1 = '<h1>Xin chao</h1>';
 %>
 <!-- dấu = là render ra tất cả; -->
 <!-- dấu - là render ra html -->
 <%-h1%>
<% for(let i = 0; i < 5; i++){%>
    <%- include('card.ejs') %>
<%}%>
<%- include('footer.ejs') %> 